
*{
    margin: 0%;
    font-family: sans-serif;
    padding: 0px;
}
body{
    background-color: #cac4f8;
}

#sair{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    width: 5%;
    height: 40px;
    font-size: 18px;
    order: -1;
}

#sair:hover{
    background-color: #cac4f8;
    scale: 1.1;
}

.cabecario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 3px 5px 3px;
    padding: 10px;
    background-color: #7a37e6;
    border-radius: 15px;
}

.containerJogos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foto1,.foto2,.foto3,.foto4{
    background-color: #2e1b5b;
    margin: 20px;
    margin-bottom: 10px;
    height: 80%;
    border-radius: 15px;
}

.jogo1, .jogo2, .jogo3, .jogo4{
    display: flex;
    margin: 5%;
    background-color: #f2f2f2;
    padding: 10px;
    height: 400px;
    width: 25%;
    border-radius: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.roblox-imagem{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.incerramento{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    margin-right: 3px;
}


/* ----Button---- */
.glow-on-hover {
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #2e1b5b;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2e1b5b;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}